<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>フロント開発</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
  <link rel="stylesheet" href="./common/style.css">
</head>

<body>
  <div id="app">
    <common-menu current="home"></common-menu>
    <div class="ui main container">
      <h2 class="ui header">レベル: {{user.level}}</h2>
      <h2 class="ui header">経験値: {{user.exp}}</h2>
      <div class="ui stackable grid">
        <!-- 必須 -->
        <div class="eight wide column">
          <h2 class="ui header">必須</h2>
          <div class="ui segments" v-if="necessaryTasks.length !== 0">
            <div class="ui segment" v-for="ntask in necessaryTasks">
              <div class="ui checkbox">
                <input type="checkbox" v-on:click="toggle(ntask, calorie(ntask))" v-bind:checked="ntask.done">
                <label>{{ntask.taskName}}</label>
              </div>
              {{calorie(otask)}}kcal
            </div>
          </div>
          <h3 class="ui header grey" v-else>現在必須タスクはありません。</h3>
          <div v-if="necessaryTasks.length !== 0">
            <h4 class="ui header">消費カロリー:{{sumCalorie(necessaryTasks.filter(t => t.done === true))}}kcal</h4>
            <h4 class="ui header">合計カロリー:{{sumCalorie(necessaryTasks)}}kcal</h4>
          </div>
        </div>
        <!-- 必須終了 -->
        <!-- 追加 -->
        <div class="eight wide column">
          <h2 class="ui header">追加</h2>
          <div class="ui segments" v-if="optionalTasks.length !== 0">
            <div class="ui segment" v-for="otask in optionalTasks">
              <div class="ui checkbox">
                <input type="checkbox" v-on:click="toggle(otask, calorie(otask))" v-bind:checked="otask.done">
                <label>{{otask.taskName}}</label>
              </div>
              {{calorie(otask)}}kcal
            </div>
          </div>
          <h3 class="ui header grey" v-else>現在追加タスクはありません。</h3>
          <div v-if="optionalTasks.length !== 0">
            <h4 class="ui header">消費カロリー: {{sumCalorie(optionalTasks.filter(t => t.done === true))}}kcal</h4>
            <h4 class="ui header">合計カロリー: {{sumCalorie(optionalTasks)}}kcal</h4>
          </div>
        </div>
        <!-- 追加終了 -->
      </div>
    </div>
  </div>

  <script src="./common/config.js" charset="utf-8"></script>
  <script src="./js/menu.js" charset="utf-8"></script>
  <script src="./js/index.js" charset="utf-8"></script>
</body>

</html>